.mainNav {
  border-top: 1px solid black;
}

.menuContainer {
  border-left: 2px solid #e4e3e0;
  border-top: 2px solid #e4e3e0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.menuButton {
  background-color: #d8d6d0;
  border: 1px solid black;
}

.separator {
  background: rgba(115, 123, 234, 1);
  background: -moz-linear-gradient(
    left,
    rgba(115, 123, 234, 1) 0%,
    rgba(4, 10, 124, 1) 50%,
    rgba(0, 0, 2, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(115, 123, 234, 1)),
    color-stop(50%, rgba(4, 10, 124, 1)),
    color-stop(100%, rgba(0, 0, 2, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(115, 123, 234, 1) 0%,
    rgba(4, 10, 124, 1) 50%,
    rgba(0, 0, 2, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(115, 123, 234, 1) 0%,
    rgba(4, 10, 124, 1) 50%,
    rgba(0, 0, 2, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(115, 123, 234, 1) 0%,
    rgba(4, 10, 124, 1) 50%,
    rgba(0, 0, 2, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(115, 123, 234, 1) 0%,
    rgba(4, 10, 124, 1) 50%,
    rgba(0, 0, 2, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737bea', endColorstr='#000002', GradientType=1 );
}

.buttonIcon {
  padding: 5px;
}

.buttonIcon:hover {
  color: wheat;
  background-color: blue;
}

.open {
  padding: 2px;
  background-color: #e4e3e0;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid #e4e3e0;
  border-bottom: 2px solid #e4e3e0;
}

.closed {
  display: none;
}