.mainContainer {
  background-image: url('../assets/images/background-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.folderContainer {
  display: flex;
}